{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About JD Photography</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/aboutus.css">
</head> 
    <!-- About Us Section -->
    <section class="about-section">
      <div class="container">
        <div class="about-header">
          <h1>About Us</h1>
        </div>
        <div class="about-content">
          <!--Carousel Slides-->
          <div class="container1">
            <div class="row">
              <div class="col-md-8 w-100">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/static/Images\aboutus\1.JPG" class="d-block w-100" alt="Image 1">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/Images\aboutus\2.jpg" class="d-block w-100" alt="Image 2">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/Images\aboutus\3.jpg" class="d-block w-100" alt="Image 3">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/Images\aboutus\4.JPG" class="d-block w-100" alt="Image 4">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/Images\aboutus\5.jpg" class="d-block w-100" alt="Image 5">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <h1>Beyond Borders: Tales of Love and Tradition</h1>
          <div class="col-md-12 about-text">
            <p style=" font-family:Baskervville;">
              Hailing from the culturally rich city of Gorakhpur, Uttar Pradesh, I embarked on an enchanting journey as a wedding photographer and videographer, 
              capturing the essence of love and celebration across the heartlands of Uttar Pradesh.
              <br>
              At the age ripe with dreams and aspirations, I ventured into the captivating world of photography, driven by the desire to immortalize the joyous occasions
              that unfold in the vibrant tapestry of regional weddings. As I traversed the bustling streets of Gorakhpur, my lens became a storyteller, weaving tales of 
              tradition, love, and familial bonds.
              <br>
              My journey led me to the serene landscapes and bustling bazaars of Uttar Pradesh, where I had the privilege to document the sacred vows exchanged amidst
              the sanctity of ancient temples, the grandeur of ornate palaces, and the rustic charm of village festivities. Each wedding became a cherished chapter, 
              etched in the annals of time through the artistry of my lens.
              <br>
              As the sun sets over the Ganges and the aroma of freshly bloomed marigolds fills the air, I stand witness to the timeless rituals and heartfelt emotions
              that define regional weddings in Uttar Pradesh. From the intricate henna designs adorning the hands of blushing brides to the resplendent hues of 
              traditional attire, every moment is a testament to the rich cultural heritage of our land.
              <br>
              Beyond the borders of Gorakhpur, I have journeyed to the far reaches of Uttar Pradesh, from the historic city of Lucknow to the quaint villages nestled 
              amidst the verdant fields of the countryside. With each frame, I strive to capture the essence of the region – its warmth, its hospitality, and its
              unwavering spirit.
              <br>
              As I look back on my odyssey as a regional wedding photographer, I am filled with gratitude for the countless memories I have had the privilege to 
              preserve. With every click of the shutter, I endeavor to encapsulate the soul of Uttar Pradesh – its traditions, its festivities, and above all, its 
              timeless love stories. Join me on this magical journey, as we celebrate the beauty of regional weddings in the heartland of India.
            </p>
          </div>
        </div>
      </div>
    </section>  
{% endblock %}    
