{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms & Conditions</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/terms.css">
  </head>
  <!--Heading-->
    <!-- About Us Section -->
    <section class="about-section">
        <div class="container">
            <div class="about-content">
                <div class="container1">
                    <div class="about-header">
                        <h1>Terms & Conditions</h1>
                      </div>
                    <li>The customer agrees to pay a fee of Rs_____ for our Phtography service. Pay in installments
                        as 10% advance at the time of booking, 50% 15 days before the date of event, 20% at the time of
                        collecting event photos and 20% at the time of album and video delivery.</li><br>
                    <li>You neewd to give us at least 10 to 15 minutes for the portrait(Bridal portrait, Groom's portrait, Family portrait)</li><br>    
                    <li>If the photographer is working for more than 1 hour according to the timing in this agreement, then 5% more will be charged for every hour.</li><br>
                    <li>The photographer will have a meal at your place, if you do not allow them to have meal there, you will have to inform us at the time of booking. And have to pay the bill for outside meal.</li><br>
                    <li>If you organize any additional event which is not written in this agreement then you will have to pay additional fee of Rs. 15000 per event.</li><br>
                    <li>You have to collect you data within 3 months of the program date, otherwise we have no responsibility of your data.</li><br>
                    <li>You have to provide songs for video editing, otherwise after editing from our side, correction will not be
                        done more than 2 times. If you want to do more correction than that, then you will have to pay extra for that.</li><br>
                    <li>The Photographer will not be held liable for the poor quality of photographs in case of the guests interference with the photographer's work.</li><br>
                    <li>The Client understands and abides by the fact that the Photographers may be restricted or limited by rules of the location of the ceremony and/or reception.</li>
                    <div class="about-header">
                      <h1>Cancellation Policy</h1>
                    </div>
                    <li>The Customer agrees that if the booking is cancelled by the Customer and the deposited amount is non-refundable.</li><br>
                    <li>According to the agreement, if you do not deposit 50% money before 15 days of the booking date,
                        then your booking will be considered as cancelled. In such case 10% of the deposited amount is non-refundable.</li><br>
                </div>
            </div>
        </div>
    </section>
    
    {% endblock %}        