{% extends "base.html" %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maternity Photographers in UP</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/portfolio.css">
  </head>
      <!--Maternity Films Section-->
      <div class="gallery-header">
        <h1>Maternity & Baby Shoot</h1>
      </div>
      <section class="maternity-gallery">
        <div class="container1">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\1.JPG" class="img-fluid gallery-img" alt="Maternity Image 1"></a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\2.jpg" class="img-fluid gallery-img" alt="Maternity Image 2"></a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\3.jpg" class="img-fluid gallery-img" alt="Maternity Image 3">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\4.JPG" class="img-fluid gallery-img" alt="Maternity Image 4">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\5.jpg" class="img-fluid gallery-img" alt="Maternity Image 5">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\6.jpg" class="img-fluid gallery-img" alt="Maternity Image 6">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\7.JPG" class="img-fluid gallery-img" alt="Maternity Image 7">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\8.jpg" class="img-fluid gallery-img" alt="Maternity Image 8">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\9.jpg" class="img-fluid gallery-img" alt="Maternity Image 9">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\10.JPG" class="img-fluid gallery-img" alt="Maternity Image 10">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\11.jpg" class="img-fluid gallery-img" alt="Maternity Image 11">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\12.jpg" class="img-fluid gallery-img" alt="Maternity Image 12">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\13.jpg" class="img-fluid gallery-img" alt="Maternity Image 13">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\14.jpg" class="img-fluid gallery-img" alt="Maternity Image 14">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <img src="\static\Images\maternity\15.jpg" class="img-fluid gallery-img" alt="Maternity Image 15">
            </div>
          </div>
        </div>  
      </section>
{% endblock %}

 