{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawan & Payal</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/page.css">
  </head>
  <body> 
    <!-- Header -->
    <div class="header">
    <h1>Pawan & Payal</h1>
    </div>
  
    <!-- Photo Grid -->
     <div class="row">
      <div class="column">
        <img src="\static\Images\page1\1.JPG" style="width:100%">
        <img src="\static\Images\page1\2.JPG" style="width:100%">
        <img src="\static\Images\page1\8.JPG" style="width:100%">
        <img src="\static\Images\page1\10.JPG" style="width:100%">
        <img src="\static\Images\page1\16.JPG" style="width:100%">
        <img src="\static\Images\page1\26.JPG" style="width:100%">
        <img src="\static\Images\page1\27.JPG" style="width:100%">
        <img src="\static\Images\page1\30.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page1\7.JPG" style="width:100%">
        <img src="\static\Images\page1\9.JPG" style="width:100%">
        <img src="\static\Images\page1\14.JPG" style="width:100%">
        <img src="\static\Images\page1\17.JPG" style="width:100%">
        <img src="\static\Images\page1\21.JPG" style="width:100%">
        <img src="\static\Images\page1\22.JPG" style="width:100%">
        <img src="\static\Images\page1\24.JPG" style="width:100%">
      </div>  
      <div class="column">
        <img src="\static\Images\page1\3.JPG" style="width:100%">
        <img src="\static\Images\page1\5.JPG" style="width:100%">
        <img src="\static\Images\page1\12.JPG" style="width:100%">
        <img src="\static\Images\page1\20.JPG" style="width:100%">
        <img src="\static\Images\page1\18.JPG" style="width:100%">
        <img src="\static\Images\page1\23.JPG" style="width:100%">
        <img src="\static\Images\page1\25.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page1\4.JPG" style="width:100%">
        <img src="\static\Images\page1\6.JPG" style="width:100%">
        <img src="\static\Images\page1\13.JPG" style="width:100%">
        <img src="\static\Images\page1\15.JPG" style="width:100%">
        <img src="\static\Images\page1\19.JPG" style="width:100%">
        <img src="\static\Images\page1\28.JPG" style="width:100%">
        <img src="\static\Images\page1\29.JPG" style="width:100%">
        <img src="\static\Images\page1\30.JPG" style="width:100%">
      </div>  
    </div>
{% endblock %}  
