{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>photography</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/page.css">
  </head>
    <!-- Header -->
    <div class="header">
    <h1>Responsive Image Grid</h1>
    <p>Resize the browser window to see the responsive effect.</p>
    </div>
  
    <!-- Photo Grid -->
    <div class="row">
      <div class="column">
        <img src="\static\Images\page12\1.JPG" style="width:100%">
        <img src="\static\Images\page12\2.JPG" style="width:100%">
        <img src="\static\Images\page12\3.JPG" style="width:100%">
        <img src="\static\Images\page12\4.JPG" style="width:100%">
        <img src="\static\Images\page12\5.JPG" style="width:100%">
        <img src="\static\Images\page12\6.JPG" style="width:100%">
        <img src="\static\Images\page12\7.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page12\8.JPG" style="width:100%">
        <img src="\static\Images\page12\9.JPG" style="width:100%">
        <img src="\static\Images\page12\10.JPG" style="width:100%">
        <img src="\static\Images\page12\11.JPG" style="width:100%">
        <img src="\static\Images\page12\12.JPG" style="width:100%">
        <img src="\static\Images\page12\13.JPG" style="width:100%">
      </div>  
      <div class="column">
        <img src="\static\Images\page12\14.JPG" style="width:100%">
        <img src="\static\Images\page12\15.JPG" style="width:100%">
        <img src="\static\Images\page12\16.JPG" style="width:100%">
        <img src="\static\Images\page12\17.JPG" style="width:100%">
        <img src="\static\Images\page12\18.JPG" style="width:100%">
        <img src="\static\Images\page12\19.JPG" style="width:100%">
        <img src="\static\Images\page12\20.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page12\21.JPG" style="width:100%">
        <img src="\static\Images\page12\22.JPG" style="width:100%">
        <img src="\static\Images\page12\23.JPG" style="width:100%">
        <img src="\static\Images\page12\24.JPG" style="width:100%">
        <img src="\static\Images\page12\25.JPG" style="width:100%">
        <img src="\static\Images\page12\26.JPG" style="width:100%">
      </div> 
    </div>   
{% endblock %}  
