{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anjali & Abhinav</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/page.css">
  </head>
    <!-- Header -->
    <div class="header">
    <h1>Anjali & Abhinav</h1>
    </div>
  
    <!-- Photo Grid -->
    <div class="row">
      <div class="column">
        <img src="\static\Images\page9\1.JPG" style="width:100%">
        <img src="\static\Images\page9\2.JPG" style="width:100%">
        <img src="\static\Images\page9\3.JPG" style="width:100%">
        <img src="\static\Images\page9\4.JPG" style="width:100%">
        <img src="\static\Images\page9\5.JPG" style="width:100%">
        <img src="\static\Images\page9\6.JPG" style="width:100%">
        <img src="\static\Images\page9\7.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page9\8.JPG" style="width:100%">
        <img src="\static\Images\page9\9.JPG" style="width:100%">
        <img src="\static\Images\page9\10.JPG" style="width:100%">
        <img src="\static\Images\page9\11.JPG" style="width:100%">
        <img src="\static\Images\page9\12.JPG" style="width:100%">
        <img src="\static\Images\page9\13.JPG" style="width:100%">
      </div>  
      <div class="column">
        <img src="\static\Images\page9\14.JPG" style="width:100%">
        <img src="\static\Images\page9\15.JPG" style="width:100%">
        <img src="\static\Images\page9\16.JPG" style="width:100%">
        <img src="\static\Images\page9\17.JPG" style="width:100%">
        <img src="\static\Images\page9\18.JPG" style="width:100%">
        <img src="\static\Images\page9\19.JPG" style="width:100%">
        <img src="\static\Images\page9\20.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page9\21.JPG" style="width:100%">
        <img src="\static\Images\page9\22.JPG" style="width:100%">
        <img src="\static\Images\page9\23.JPG" style="width:100%">
        <img src="\static\Images\page9\24.JPG" style="width:100%">
        <img src="\static\Images\page9\25.JPG" style="width:100%">
        <img src="\static\Images\page9\26.JPG" style="width:100%">
      </div> 
    </div>   
{% endblock %}  
    