{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pankaj & Nancy</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/page.css">
  </head>
    
    <!-- Header -->
    <div class="header">
    <h1>Pankaj & Nancy</h1>
    </div>
  
    <!-- Photo Grid -->
    <div class="row">
      <div class="column">
        <img src="\static\Images\page8\1.JPG" style="width:100%">
        <img src="\static\Images\page8\2.JPG" style="width:100%">
        <img src="\static\Images\page8\3.JPG" style="width:100%">
        <img src="\static\Images\page8\4.JPG" style="width:100%">
        <img src="\static\Images\page8\5.JPG" style="width:100%">
        <img src="\static\Images\page8\6.JPG" style="width:100%">
        <img src="\static\Images\page8\7.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page8\8.JPG" style="width:100%">
        <img src="\static\Images\page8\9.JPG" style="width:100%">
        <img src="\static\Images\page8\10.JPG" style="width:100%">
        <img src="\static\Images\page8\11.JPG" style="width:100%">
        <img src="\static\Images\page8\12.JPG" style="width:100%">
        <img src="\static\Images\page8\13.JPG" style="width:100%">
      </div>  
      <div class="column">
        <img src="\static\Images\page8\14.JPG" style="width:100%">
        <img src="\static\Images\page8\15.JPG" style="width:100%">
        <img src="\static\Images\page8\16.JPG" style="width:100%">
        <img src="\static\Images\page8\17.JPG" style="width:100%">
        <img src="\static\Images\page8\18.JPG" style="width:100%">
        <img src="\static\Images\page8\19.JPG" style="width:100%">
        <img src="\static\Images\page8\20.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page8\21.JPG" style="width:100%">
        <img src="\static\Images\page8\22.JPG" style="width:100%">
        <img src="\static\Images\page8\23.JPG" style="width:100%">
        <img src="\static\Images\page8\24.JPG" style="width:100%">
        <img src="\static\Images\page8\25.JPG" style="width:100%">
        <img src="\static\Images\page8\26.JPG" style="width:100%">
      </div> 
    </div>  
{% endblock %}  
    