{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rahul & Shalini</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/page.css">
  </head>
  
    <!-- Header -->
    <div class="header">
    <h1>Rahul & Shalini</h1>
    </div>
  
    <!-- Photo Grid -->
    <div class="row">
      <div class="column">
        <img src="\static\Images\page10\1.JPG" style="width:100%">
        <img src="\static\Images\page10\2.JPG" style="width:100%">
        <img src="\static\Images\page10\3.JPG" style="width:100%">
        <img src="\static\Images\page10\4.JPG" style="width:100%">
        <img src="\static\Images\page10\5.JPG" style="width:100%">
        <img src="\static\Images\page10\6.JPG" style="width:100%">
        <img src="\static\Images\page10\7.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page10\8.JPG" style="width:100%">
        <img src="\static\Images\page10\9.JPG" style="width:100%">
        <img src="\static\Images\page10\10.JPG" style="width:100%">
        <img src="\static\Images\page10\11.JPG" style="width:100%">
        <img src="\static\Images\page10\12.JPG" style="width:100%">
        <img src="\static\Images\page10\13.JPG" style="width:100%">
      </div>  
      <div class="column">
        <img src="\static\Images\page10\14.JPG" style="width:100%">
        <img src="\static\Images\page10\15.JPG" style="width:100%">
        <img src="\static\Images\page10\16.JPG" style="width:100%">
        <img src="\static\Images\page10\17.JPG" style="width:100%">
        <img src="\static\Images\page10\18.JPG" style="width:100%">
        <img src="\static\Images\page10\19.JPG" style="width:100%">
        <img src="\static\Images\page10\20.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page10\21.JPG" style="width:100%">
        <img src="\static\Images\page10\22.JPG" style="width:100%">
        <img src="\static\Images\page10\23.JPG" style="width:100%">
        <img src="\static\Images\page10\24.JPG" style="width:100%">
        <img src="\static\Images\page10\25.JPG" style="width:100%">
        <img src="\static\Images\page10\26.JPG" style="width:100%">
      </div> 
    </div>  
{% endblock %}  