{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>photography</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/page.css">
  </head>
  
    <!-- Header -->
    <div class="header">
    <h1>Responsive Image Grid</h1>
    <p>Resize the browser window to see the responsive effect.</p>
    </div>
  
    <!-- Photo Grid -->
    <div class="row">
      <div class="column">
        <img src="\static\Images\page5\1.JPG" style="width:100%">
        <img src="\static\Images\page5\2.JPG" style="width:100%">
        <img src="\static\Images\page5\3.JPG" style="width:100%">
        <img src="\static\Images\page5\4.JPG" style="width:100%">
        <img src="\static\Images\page5\5.JPG" style="width:100%">
        <img src="\static\Images\page5\6.JPG" style="width:100%">
        <img src="\static\Images\page5\7.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page5\8.JPG" style="width:100%">
        <img src="\static\Images\page5\9.JPG" style="width:100%">
        <img src="\static\Images\page5\10.JPG" style="width:100%">
        <img src="\static\Images\page5\11.JPG" style="width:100%">
        <img src="\static\Images\page5\12.JPG" style="width:100%">
        <img src="\static\Images\page5\13.JPG" style="width:100%">
      </div>  
      <div class="column">
        <img src="\static\Images\page5\14.JPG" style="width:100%">
        <img src="\static\Images\page5\15.JPG" style="width:100%">
        <img src="\static\Images\page5\16.JPG" style="width:100%">
        <img src="\static\Images\page5\17.JPG" style="width:100%">
        <img src="\static\Images\page5\18.JPG" style="width:100%">
        <img src="\static\Images\page5\19.JPG" style="width:100%">
        <img src="\static\Images\page5\20.JPG" style="width:100%">
      </div>
      <div class="column">
        <img src="\static\Images\page5\21.JPG" style="width:100%">
        <img src="\static\Images\page5\22.JPG" style="width:100%">
        <img src="\static\Images\page5\23.JPG" style="width:100%">
        <img src="\static\Images\page5\24.JPG" style="width:100%">
        <img src="\static\Images\page5\25.JPG" style="width:100%">
        <img src="\static\Images\page5\26.JPG" style="width:100%">
      </div> 
    </div>  
{% endblock %}  