{% extends "base.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding by JD Phtography</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/portfolio.css">
  </head>
    <!--Wedding Gallery Section-->
    <div class="gallery-header">
      <h1>Wedding</h1>
    </div>
    <section class="wedding-gallery">
      <div class="container1">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="image-container">
              <a href="/page7" target="_blank">
                <img src="\static\Images\wedding\1.JPG" class="img-fluid gallery-img" alt="Wedding Image 1">
                <div class="overlay">
                  <div class="text"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="image-container">
              <a href="/page8" target="_blank">
                <img src="\static\Images\wedding\2.jpg" class="img-fluid gallery-img" alt="Wedding Image 2">
                <div class="overlay">
                  <div class="text">Pankaj & Nancy</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="image-container">
              <a href="/page9" target="_blank">
                <img src="\static\Images\wedding\3.jpg" class="img-fluid gallery-img" alt="Wedding Image 3">
                <div class="overlay">
                  <div class="text">Anjali & Abhinav</div>
                </div>
              </a>
            </div>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="image-container">
              <a href="/page10" target="_blank">
                <img src="\static\Images\wedding\4.jpg" class="img-fluid gallery-img" alt="Wedding Image 4">
                <div class="overlay">
                  <div class="text">Rahul & Shalini</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="image-container">
              <a href="/page11" target="_blank">
                <img src="\static\Images\wedding\5.jpg" class="img-fluid gallery-img" alt="Wedding Image 5">
                <div class="overlay">
                  <div class="text">Bhaskar & Niharika</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="image-container">
              <a href="/page12" target="_blank">
                <img src="\static\Images\wedding\6.jpg" class="img-fluid gallery-img" alt="Wedding Image 6">
                <div class="overlay">
                  <div class="text"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section> 
{% endblock %}