html, body{
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}


@media (max-width: 991px) {
  .sidebar{
      background-color:white;
      font-size: 20px;
      
  }
  .sidebar .offcanvas-body li a{
      padding: 20px 20px 20px 32px;
  }

}
/* Optional custom styles */
.sidebar .btn-close {
  margin-top: 3%;
  color: black;
  font-size: 45px;
}
.sidebar .btn-close:hover{
  color: darkred;
} 

.container{
  margin: 0 auto;
  width:100%;
  
}
.nav-item {
  margin-bottom: 1rem;
}

.nav-link {
  padding: 10px 20px;
}

.navbar-toggler {
  border: none;
}

.btn-close {
  margin: 1rem;
}

.logo{
  max-width: 100%;
  height: 150px;
  float: left;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .logo {
      padding-left: 60px;
      text-align: center;
      height: 80px; /* Adjust the height to fit within the navbar */
      width: 500px;
  }     
}
@media (max-width: 576px) {
  .logo {
      padding-right: 10%;
      text-align: center;
      height: 90px;
      
  }     
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.navbar{
  display: flex;
  height: 10%;
  line-height: 10%;
  position: fixed;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 80%;
  flex-wrap: nowrap;
  z-index: 1000;
  padding: 0 auto;
}
.navbar:hover {
  border-bottom: 1px solid #cccccc; /* Border style on hover */
}
.navbar-nav{
  float: right;
  display: flex; /* Use flexbox for horizontal layout */
  list-style: none;
  margin: auto;
  padding: 0;
  flex: 2; /* Adjust flex value based on your layout */
  
}
.navbar-nav li{
  margin-right: 9%;
}
.nav-item a{
 
  color: black;
  text-decoration: none;
}
.nav-item :last-child {
  margin-right: 0; /* Remove margin from the last item */
}
.nav-item:hover{
  text-decoration: underline;
  color: black;
}
.dropdown-menu {
  position: fixed;
  display: none;
  background-color: white;
  border: 2px solid #cccccc;
  
}
.dropdown-item {
  padding: 10% 4%;
  white-space: nowrap; /* Ensure text stays on one line */
}
.social-icons a {
  margin: 0 10px; /* Adjust the value to control the space between icons */
}
/* Header */

  .header {
    text-align: center;
    padding: 32px;
    margin-top: 100px;
  }
  .header h1{
    font-family: Baskervville;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  .insta{
    font-family: Baskervville;
    font-size: 550%;
    text-align: center;
    padding-top: 6%;
}
@media (max-width: 1024px) {
    .insta{
    padding-top: 40%;
    font-size: 500%;   
    }
}
@media (max-width: 800px) {
    .insta{
    font-size: 300%;   
    }
}
@media (max-width: 576px) {
    .insta {
        font-size: 150%;
    }
    .link{
        margin-left: 0px;
    }

}
.link{
    padding-top: 2%;
    text-align: center;  
    margin-bottom: -50%;   

}
.btn-light{
    color: black;
    border: 1% solid;
    border-color: black;
    background-color: transparent;
    
}


